body {
    background-color: antiquewhite;
}

.container {                    /* 전체 화면의 크기 마진 그리고 글자정렬 */
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

.main {                         /* 첫번째 버튼 */
    display: flex;
}

.main div button {              /* 버튼의 모양 */
    background-color: rgb(192, 114, 114);
    width:150px;
    height:80px;
    border-radius: 10px;
}